<%= form_for(@upload) do |f| %>
    <%= f.hidden_field :confirming %>
    <% if @upload.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

            <ul>
                <% @upload.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <% if f.object.confirming? %>
        <div class="field">
            <%= f.label :name %><br>
            <%= f.object.name %>
            <%= f.hidden_field :name %>
        </div>

        <% if f.object.file.present? %>
            <% unless f.object.file_attacher.remove? %>
                <div class="field">
                    <%= f.hidden_field :file, value: f.object.file_attacher.data.to_json %>
                    <%= image_tag attachment_url(f.object, :file, :fill, 200, 200) %>
                </div>
            <% end %>
        <% end  %>
        <%= f.hidden_field :remove_file %>

        <div class="actions">
            <%= f.submit %>
            <p><%= link_to 'Edit', :back %></p>
        </div>
    <% else %>
        <div class="field">
            <%= f.label :name %><br>
            <%= f.text_field :name %>
        </div>

        <div class="field">
            <% if f.object.file.present? %>
                <%= image_tag attachment_url(f.object, :file, :fill, 200, 200) %>
                <%= f.check_box :remove_file %>
                <%= f.label :remove_file %>
            <% end %>
            <%= f.attachment_field :file, direct: true %>
        </div>

        <div class="actions">
            <%= f.submit 'Confirm' %>
        </div>
    <% end %>

<% end %>
